body {
    background-color: lightblue;
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-family: Verdana;
}

p:hover{
    font-size: 18px;
}

a:hover {
    background-color: white;
}

