body {
    background-color: lightblue;
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-family: Verdana;
}

p:hover{
    font-size: 18px;
}

a:hover {
    background-color: white;
}

#para1:hover {
    text-align: center;
    color: red;
}

#para2:div {
    background-color: black;
    width: 300px;
    border: 15px solid green;
    padding: 40px;
    margin: 20px;
}